* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ins {
    border: 1px solid rgb(8, 8, 91);
    margin-top: 25px;
}

.ins-head {
    text-align: center;
    background-color: rgb(2, 2, 8);
    color: white;
    padding: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ins p {
    padding: 10px 20px;
}

#comp_choice {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    display: block;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#point{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#win_count {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#lose_count {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.btn button {
    padding: 5px;
    background-color: transparent;
    border: none;
}

button img {
    width: 90px;
    height: 70px;
    display: flex;
    justify-content: space-around;
}

